.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.outer-wrapper {
	background-color: #dddddd;
	display: flex;
	margin-left: 100px;
}
.container {
  display: flex;
  
}

.item {
  margin-right: 10px;
  height: 100px;
  width: 100px; /* A fixed width as the default */
}


/*.item-center { 
//  flex-grow: 1; /* Set the middle element to grow and stretch */
/*}
*/

.item + .item { 
  margin-left: 2%; 
  flex-grow: 1;
}

