* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
   flex-direction: column;
   min-height: 20vh; 
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;

}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
 
}

/* Left and right column */
.column-side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   border-right: 2;
   flex-direction: column;
   min-height: 70vh;

}

.column-side-2 {
   border-right: 2;
   display: flex;
   flex-direction: column;
   min-height: 70vh;
}

/* Middle column */
.column-middle {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  background-color: #ffffed;
 
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.page-wrapper {
	
  display: flex;
  
  flex-direction: column;
  min-height: 100vh;
	
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}